* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1a1a2e;
    transition: opacity 0.5s ease;
    flex-direction: column;
    opacity: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 50px auto;
}

.lefty {
    align-items: z ;
}

.box {
    gap: 20px;
    background: rgb(122, 122, 122);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    text-indent: 20px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}
.faz {
    background-image: url(pic/kich.png);
}
.ray {
    background-image: url(pic/ray.png);
}
.zan {
    background-image: url(pic/zan.png);
}
.button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #f9f9f9;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.2s ease;
    width: 100%;
    text-align: center;
}
.image {
    max-width: 30%;
    object-fit: contain;
    background-position: center;
    float: left;
    border-radius: 10px;
}

.button:hover {
    transform: scale(1.01);
}

p {
    color: #f9f9f9;
}

h2 {
    color: #f9f9f9;
}